<a href="https://colab.research.google.com/github/gustavopierre/data_science_portfolio/blob/master/Gustavo_Moreira_Pierre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


[![author](https://github.com/gustavopierre/data_science_portfolio/blob/master/author-gustavopierre.png?raw=true)](https://www.linkedin.com/in/gustavo_pierre) [![](https://img.shields.io/badge/python-3.7+-blue.svg)](https://www.python.org/downloads/release/python-365/) [![contributions welcome](https://img.shields.io/badge/contributions-welcome-brightgreen.svg?style=flat)](https://github.com/gustavopierre/data_science_portfolio/issues)

<p align="center">
  <img src="https://github.com/gustavopierre/data_science_portfolio/blob/master/covid_cover.jpg?raw=true" alt="COVID-19" >
  <a href="https://www.pexels.com/pt-br/foto/biologia-brilhante-luminoso-iluminado-4031867/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Foto de Edward Jenner no Pexels</a>
</p>

# **Análise dos Casos de COVID-19 no Brasil**
----
A COVID-19 é uma doença respiratória aguda causada pelo coronavirus SARS-CoV-2. Os coronavirus fazem parte de uma grande família de virus comuns em várias espécies de animais, tais como camelos, gado, gatos e morcegos. Em raros casos, podem infectar pessoas, como é o caso dos coronavirus MERS-CoV e SARS-CoV [[MinisteriodaSaude](https://coronavirus.saude.gov.br/sobre-a-doenca)].<br>
O primeiro caso de COVID-19 foi identificado em Wuhan, na província de Hubei, na República Popular da China, no dia 01 de dezembro de 2019. O novo virus mapeado não possui sintomas mais graves do que os provocados pelo coronavirus responsável pelo surto de SARG, que ocorreu em 2003, e do qual é muito semelhante genéticamente. No entanto, a COVID-19 possui um contágio maior [[WikipediaCOVID-19](https://pt.wikipedia.org/wiki/Pandemia_de_COVID-19) e [WikipediaSARS-CoV](https://pt.wikipedia.org/wiki/SARS-CoV)].<br>

A Organização Mundial de Saúde (OMS) caracterizou a COVID-19 como pandemia em 11 de março de 2020, quando já havia mais de 118 mil casos em 114 países e 4,2 mil pessoas tinham perdido a vida [[OPASBrasil](https://www.paho.org/bra/index.php?option=com_content&view=article&id=6120:oms-afirma-que-covid-19-e-agora-caracterizada-como-pandemia&Itemid=812)].<br> 

No dia 26 de fevereiro deste ano foi anunciado o primeiro caso confirmado no Brasil de um homem de 61 anos que havia viajado para a Itália e deu entrada no Hospital Albert Einstein, em São Paulo [[Sanar](https://www.sanarmed.com/linha-do-tempo-do-coronavirus-no-brasil)]. Este paciente, segundo o Governo de São Paulo, se recuperou [[BBCNewsBrasil](https://www.bbc.com/portuguese/brasil-52334034)].<br>

No dia 06 de novembro de 2020 foram registrados no Brasil 5.633.747 casos, sendo que 5.104.195 se recuperaram e 162.038 perderam a vida [[SUSAnalitico](https://susanalitico.saude.gov.br/extensions/covid-19_html/covid-19_html.html)].<br>

Neste primeiro projeto do [Bootcamp de Data Science Aplicada da Alura](https://www.alura.com.br/bootcamp/data-science-aplicada/matriculas-abertas), serão analisados os dados da COVID-19 no Brasil, passando pelas fases de obtenção dos dados, análise exploratória e exibição. O objetivo deste Projeto é fazer análises comparativas dos casos de COVID-19 por municípios, estados e regiões do Brasil, em números absolutos, em relação às populações, em relação ao Índice de Desenvolvimento Humano Municipal (IDHM) e à densidade demográfica (relação da população pela área). Serão exibidos também os números geograficamente distribuídos no mapa do Brasil. Ao final as conclusões das análises serão apresentadas bem como sugestões para trabalhos futuros.

## **Obtenção dos Dados**
O primeiro passo para atingir os objetivos deste Projeto é buscar os dados necessários. Sendo que o Projeto se baseará nos dados sobre COVID-19 das Secretarias Estaduais de Saúde consolidados pelo site [Brasil.io](https://brasil.io/datasets/). Este é um site mantido por Álvaro Justen e contribuidores e criado para disponibilizar dados públicos do poder público de maneira consolidada, em formato aberto e que permita consulta e download.
No entanto, para nossas análises serão necessários também dados do IDHM, população, das áreas físicas dos estados, das coordenadas geográfica dos municípios e as geometrias (dados geoespaciais) dos estados. Estes dois últimos para a exibição dos dados em um mapa.

### **1) Obtenção dos IDH dos estados**
A busca do IDH dos estados brasileiros foi feito na internet. O Programa das Nações Unidas para o Desenvolvimento ([PNUD Brasil](https://www.br.undp.org/content/brazil/pt/home.html)), o Instituto de Pesquisa Econômica Aplicada ([Ipea](https://www.ipea.gov.br/portal/)) e a [Fundação João Pinheiro](http://novosite.fjp.mg.gov.br/) divulgaram em 2019 o IDHM dos estados brasileiros de 2012 a 2017. No site do [Atlas do
Desenvolvimento Humano
no Brasil](https://atlasbrasil.org.br/ranking) foi possível obter arquivo referente à 2017 no formato do Microsoft Excel (XLSX), disponibilizado com nome [idhm2017.xlsx](https://github.com/gustavopierre/data_science_portfolio/blob/master/idhm2017.xlsx?raw=true) no github.

### **2) Obtenção dos dados de população e área de cada estado**
Também na internet, mais precisamente no site do IBGE, foram obtidos os arquivos com os dados da [população](https://ftp.ibge.gov.br/Estimativas_de_Populacao/Estimativas_2020/) e das [áreas dos estados](https://www.ibge.gov.br/geociencias/organizacao-do-territorio/estrutura-territorial/15761-areas-dos-municipios.html?=&t=downloads). Estes arquivos foram salvos no github com os nomes [estimativa_pop_2020.xls](https://github.com/gustavopierre/data_science_portfolio/blob/master/estimativa_pop_2020.xls?raw=true) e [area_uf_2019.xls](https://github.com/gustavopierre/data_science_portfolio/blob/master/area_uf_2019.xls?raw=true), respectivamente.

### **3) Obtenção das coordenadas geográficas dos municípios<del> e dados de geometria de cada estado</del>**
As informações referentes às coordenadas geográficas dos municípios brasileiros foram encontradas no [forum do QGISBrasil](https://groups.google.com/g/qgisbrasil/c/0kJDo2KH0is) e salvo no github como [municipios_coord.csv](https://github.com/gustavopierre/data_science_portfolio/blob/master/municipios_coord.xls?raw=true). <del>O arquivo com a geometria dos estados foi obtido no [github do Gis Dataset Brasil](https://github.com/fititnt/gis-dataset-brasil/blob/master/uf/geojson/uf.json) e também foi disponibilizado no github como [uf.json](https://github.com/gustavopierre/data_science_portfolio/blob/master/uf.json?raw=true).</del>

## **Configuração do Ambiente**
Para a carregamento, análise e exploração dos dados, usaremos Python. Para seu uso, serão necessárias as seguintes bibliotecas de funções que serão importadas para o ambiente:

* Pandas - uma biblioteca de uso fácil, que permite ao usuário explorar, manipular e visualizar os dados de um modo bastante eficiente;
* Numpy - uma biblioteca usada, principalmente, para realizar cálculos em vetores multidimensionais; e
* Matplotlib - uma biblioteca para visualização de dados;
* Seaborn - uma biblioteca de visualização baseada na Matplotlib.
* Folium - uma biblioteca que permite vizualização de dados manipulados em Python em um mapa interativo.
* <del>Geopandas - é um projeto open source que foi criado para tornar a manipulação das geometrias (dados geoespaciais) no Python uma tarefa mais simples; e</del>
* <del>Descartes - é uma biblioteca necessária para plotar polígonos em geopandas.</del><br>
Iniciamos o código instalando o Folium <del>Geopandas e Descartes</del> que, por padrão, não <del>vêm</del> vem instalado<del>s</del> no Google Colab.

In [26]:
print("Installing folium...")
!pip -q install folium
print('OK')
#print("Installing geopandas...")
#!pip -q install --upgrade geopandas
#print('OK')
#print("Installing descartes...")
#!pip -q install descartes
#print('OK')

Installing folium...
OK

In [122]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
#import geopandas as gpd
sns.set() # notebook
pd.options.mode.chained_assignment = None;
pd.options.display.float_format = "{:.2f}".format

## **Análise Exploratória dos Dados**
Os dados, como dito antes, têm origem em cinco arquivos que possuem, respectivamente: 
* <del>a geometria dos estados;</del>
* as coordenadas geográficas dos municípios; 
* o IDHM dos estados; 
* a população das regiões, estados e municípios; e  
* os dados da COVID-19.

Vamos analisá-los separadamente.

### **Dados com as Coordenadas Geográfica dos Municípios**
As coordenadas geográficas dos municípios estão em um arquivo no formato Microsoft Excel, com uma única pasta. Vamos carregar os dados para um dataframe, visualizar os dados (início e fim).

In [123]:
# criando o dataframe coord_geo
coord_geog = pd.read_csv('https://github.com/gustavopierre/data_science_portfolio/raw/master/municipios_coord.csv', sep=';')
# exibindo os 5 primeiros registros
coord_geog.head()

  GEOCODIGO_MUNICIPIO         NOME_MUNICIPIO  LONGITUDE  LATITUDE
0             1100015  ALTA FLORESTA D'OESTE     -62.00    -11.94
1             1100023              ARIQUEMES     -63.03     -9.91
2             1100031                 CABIXI     -60.54    -13.50
3             1100049                 CACOAL     -61.44    -11.43
4             1100056             CEREJEIRAS     -60.82    -13.20

In [124]:
# exibindo os 5 últimos registros
coord_geog.tail()

     GEOCODIGO_MUNICIPIO  NOME_MUNICIPIO  LONGITUDE  LATITUDE
5561             5222054  VICENTINÓPOLIS     -49.81    -17.73
5562             5222203        VILA BOA     -47.06    -15.03
5563             5222302   VILA PROPÍCIO     -48.88    -15.45
5564             5300108        BRASÍLIA     -47.89    -15.79
5565
             NaN        nan       nan

Vamos ver a quantidade de registros existentes.

In [125]:
# quantidade de colunas e linhas no dataframe
print(f'Registros: {coord_geog.shape[0]}\nColunas: {coord_geog.shape[1]}')

Registros: 5566
Colunas: 4

Vamos ver se existem dados faltantes e os tipos dos dados nos registros.

In [126]:
coord_geog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5566 entries, 0 to 5565
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GEOCODIGO_MUNICIPIO  5566 non-null   object
 1   NOME_MUNICIPIO       5565 non-null   object
 2   LONGITUDE            5565 non-null   float64
 3   LATITUDE             5565 non-null   float64
dtypes: float64(2), object(2)
memory usage: 174.1+ KB

Podemos observar que apenas os campos NOME_MUNICIPIO, LONGITUDE e LATITUDE possuem um valor nulo e, na visualização, podemos observar que é o último registro. Vamos apagar o último registro.

In [127]:
coord_geog.dropna()

     GEOCODIGO_MUNICIPIO         NOME_MUNICIPIO  LONGITUDE  LATITUDE
0                1100015  ALTA FLORESTA D'OESTE     -62.00    -11.94
1                1100023              ARIQUEMES     -63.03     -9.91
2                1100031                 CABIXI     -60.54    -13.50
3                1100049                 CACOAL     -61.44    -11.43
4                1100056             CEREJEIRAS     -60.82    -13.20
...                  ...                    ...        ...       ...
5560             5222005             VIANÓPOLIS     -48.51    -16.74
5561             5222054         VICENTINÓPOLIS     -49.81    -17.73
5562             5222203               VILA BOA     -47.06    -15.03
5563             5222302          VILA PROPÍCIO     -48.88    -15.45
5564             5300108               BRASÍLIA     -47.89    -15.79

[5565 rows x 4 columns]

### **Dados de IDHM dos Estados**

In [128]:
# criando o dataframe com idhm dos estados
idhm = pd.read_excel('https://github.com/gustavopierre/data_science_portfolio/blob/master/idhm2017.xlsx?raw=true')
# visualizando os 5 primeiros registros
idhm.head()

   Territorialidade  Posição IDHM  ...  Posição IDHM Longevidade  IDHM Longevidade
0  Distrito Federal             1  ...                         1              0.86
1         São Paulo             2  ...                         2              0.80
2    Santa Catarina             3  ...                         4              0.78
3    Rio de Janeiro             4  ...                         6              0.77
4            Paraná             5  ...                         5              0.77

[5 rows x 9 columns]

In [129]:
# visualizando os últimos 5 registros
idhm.tail()

   Territorialidade  Posição IDHM  ...  Posição IDHM Longevidade  IDHM Longevidade
22          Sergipe            22  ...                        20              0.68
23             Pará            23  ...                        24              0.65
24            Piauí            24  ...                        23              0.66
25         Maranhão            25  ...                        26              0.62
26          Alagoas            26  ...                        25              0.64

[5 rows x 9 columns]

In [130]:
# quantidade de registros e colunas
idhm.shape

(27, 9)

In [131]:
# apagando as colunas desnecessárias
idhm = idhm[['Territorialidade','IDHM']]
idhm.head()

   Territorialidade  IDHM
0  Distrito Federal  0.85
1         São Paulo  0.83
2    Santa Catarina  0.81
3    Rio de Janeiro  0.80
4            Paraná  0.79

### **Dados de População dos Estados e Municípios**

In [132]:
estados_pop = pd.read_excel(
    'https://github.com/gustavopierre/data_science_portfolio/blob/master/estimativa_pop_2020.xls?raw=true', 
    sheet_name='BRASIL E UFs', 
    skiprows=1, 
    skipfooter=7
)
estados_pop

   BRASIL E UNIDADES DA FEDERAÇÃO  Unnamed: 1 POPULAÇÃO ESTIMADA
0                          Brasil         nan          211755692
1                    Região Norte         nan           18672591
2                        Rondônia         nan            1796460
3                            Acre         nan             894470
4                        Amazonas         nan            4207714
5                         Roraima         nan             631181
6                            Pará         nan            8690745
7                           Amapá         nan             861773
8                       Tocantins         nan            1590248
9                 Região Nordeste         nan           57374243
10                       Maranhão         nan            7114598
11                          Piauí         nan       3.281.480(1)
12                          Ceará         nan       9.187.103(1)
13            Rio Grande do Norte         nan            3534165
14                        Paraíba         nan            4039277
15                     Pernambuco         nan       9.616.621(2)
16                        Alagoas         nan       3.351.543(2)
17                        Sergipe         nan       2.318.822(3)
18                          Bahia         nan      14.930.634(3)
19                 Região Sudeste         nan           89012240
20                   Minas Gerais         nan           21292666
21                 Espírito Santo         nan            4064052
22                 Rio de Janeiro         nan           17366189
23                      São Paulo         nan           46289333
24                     Região Sul         nan           30192315
25                         Paraná         nan           11516840
26                 Santa Catarina         nan            7252502
27              Rio Grande do Sul         nan           11422973
28            Região Centro-Oeste         nan           16504303
29             Mato Grosso do Sul         nan            2809394
30                    Mato Grosso         nan            3526220
31                          Goiás         nan       7.113.540(4)
32               Distrito Federal         nan       3.055.149(4)

In [133]:
estados_pop.dropna(axis=1, inplace=True)
estados_pop.columns=['estado','populacao']
estados_pop.head()

         estado  populacao
0        Brasil  211755692
1  Região Norte   18672591
2      Rondônia    1796460
3          Acre     894470
4      Amazonas    4207714

In [134]:
estados_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   estado     33 non-null     object
 1   populacao  33 non-null     object
dtypes: object(2)
memory usage: 656.0+ bytes

In [135]:
remove = estados_pop.loc[(estados_pop['estado'].isin(['Brasil','Região Norte','Região Sul', 'Região Centro-Oeste', 'Região Nordeste', 'Região Sudeste']))]

estados_pop = estados_pop.drop(remove.index)
estados_pop = estados_pop.reset_index()
estados_pop

    index               estado      populacao
0       2             Rondônia        1796460
1       3                 Acre         894470
2       4             Amazonas        4207714
3       5              Roraima         631181
4       6                 Pará        8690745
5       7                Amapá         861773
6       8            Tocantins        1590248
7      10             Maranhão        7114598
8      11                Piauí   3.281.480(1)
9      12                Ceará   9.187.103(1)
10     13  Rio Grande do Norte        3534165
11     14              Paraíba        4039277
12     15           Pernambuco   9.616.621(2)
13     16              Alagoas   3.351.543(2)
14     17              Sergipe   2.318.822(3)
15     18                Bahia  14.930.634(3)
16     20         Minas Gerais       21292666
17     21       Espírito Santo        4064052
18     22       Rio de Janeiro       17366189
19     23            São Paulo       46289333
20     25               Paraná       11516840
21     26       Santa Catarina        7252502
22     27    Rio Grande do Sul       11422973
23     29   Mato Grosso do Sul        2809394
24     30          Mato Grosso        3526220
25     31                Goiás   7.113.540(4)
26     32     Distrito Federal   3.055.149(4)

In [136]:
for index, row in estados_pop.iterrows():
    if '(' in str(row['populacao']):
        estados_pop.loc[index,'populacao'] = ''.join(row['populacao'].split('(')[0].split('.'))

In [137]:
estados_pop

    index               estado populacao
0       2             Rondônia   1796460
1       3                 Acre    894470
2       4             Amazonas   4207714
3       5              Roraima    631181
4       6                 Pará   8690745
5       7                Amapá    861773
6       8            Tocantins   1590248
7      10             Maranhão   7114598
8      11                Piauí   3281480
9      12                Ceará   9187103
10     13  Rio Grande do Norte   3534165
11     14              Paraíba   4039277
12     15           Pernambuco   9616621
13     16              Alagoas   3351543
14     17              Sergipe   2318822
15     18                Bahia  14930634
16     20         Minas Gerais  21292666
17     21       Espírito Santo   4064052
18     22       Rio de Janeiro  17366189
19     23            São Paulo  46289333
20     25               Paraná  11516840
21     26       Santa Catarina   7252502
22     27    Rio Grande do Sul  11422973
23     29   Mato Grosso do Sul   2809394
24     30          Mato Grosso   3526220
25     31                Goiás   7113540
26     32     Distrito Federal   3055149

In [138]:

estados_pop['populacao'].astype('int64')

0      1796460
1       894470
2      4207714
3       631181
4      8690745
5       861773
6      1590248
7      7114598
8      3281480
9      9187103
10     3534165
11     4039277
12     9616621
13     3351543
14     2318822
15    14930634
16    21292666
17     4064052
18    17366189
19    46289333
20    11516840
21     7252502
22    11422973
23     2809394
24     3526220
25     7113540
26     3055149
Name: populacao, dtype: int64

In [139]:
municipios_pop = pd.read_excel(
    'https://github.com/gustavopierre/data_science_portfolio/blob/master/estimativa_pop_2020.xls?raw=true', 
    sheet_name='Municípios', 
    skiprows=1, 
    skipfooter=16
)
municipios_pop

      UF  COD. UF  COD. MUNIC      NOME DO MUNICÍPIO POPULAÇÃO ESTIMADA
0     RO       11          15  Alta Floresta D'Oeste              22728
1     RO       11          23              Ariquemes             109523
2     RO       11          31                 Cabixi               5188
3     RO       11          49                 Cacoal              85893
4     RO       11          56             Cerejeiras              16204
...   ..      ...         ...                    ...                ...
5565  GO       52       22005             Vianópolis              13977
5566  GO       52       22054         Vicentinópolis               8873
5567  GO       52       22203               Vila Boa               6312
5568  GO       52       22302          Vila Propício               5882
5569  DF       53         108               Brasília            3055149

[5570 rows x 5 columns]

In [140]:
municipios_pop.columns=['uf','cod_uf', 'cod_munic', 'municipio','populacao']

In [141]:
municipios_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uf         5570 non-null   object
 1   cod_uf     5570 non-null   int64
 2   cod_munic  5570 non-null   int64
 3   municipio  5570 non-null   object
 4   populacao  5570 non-null   object
dtypes: int64(2), object(3)
memory usage: 217.7+ KB

In [142]:
for index, row in municipios_pop.iterrows():
    if '(' in str(row['populacao']):
        municipios_pop.loc[index,'populacao'] = ''.join(row['populacao'].split('(')[0].split('.'))

In [144]:
municipios_pop

      uf  cod_uf  cod_munic              municipio populacao
0     RO      11         15  Alta Floresta D'Oeste     22728
1     RO      11         23              Ariquemes    109523
2     RO      11         31                 Cabixi      5188
3     RO      11         49                 Cacoal     85893
4     RO      11         56             Cerejeiras     16204
...   ..     ...        ...                    ...       ...
5565  GO      52      22005             Vianópolis     13977
5566  GO      52      22054         Vicentinópolis      8873
5567  GO      52      22203               Vila Boa      6312
5568  GO      52      22302          Vila Propício      5882
5569  DF      53        108               Brasília   3055149

[5570 rows x 5 columns]

In [145]:
municipios_pop['populacao'].astype('int64')

0         22728
1        109523
2          5188
3         85893
4         16204
         ...
5565      13977
5566       8873
5567       6312
5568       5882
5569    3055149
Name: populacao, Length: 5570, dtype: int64

### **Dados da COVID-19**

In [ ]:
df = pd.read_csv('/content/caso.csv')
df.head()

         date state  ... confirmed_per_100k_inhabitants death_rate
0  2020-11-11    AP  ...                     6241.78293     0.0143
1  2020-11-10    AP  ...                     6216.71832     0.0143
2  2020-11-09    AP  ...                     6188.40460     0.0143
3  2020-11-08    AP  ...                     6151.27185     0.0142
4  2020-11-03    AP  ...                     6130.61676     0.0142

[5 rows x 13 columns]

In [ ]:
df.tail()

              date state  ... confirmed_per_100k_inhabitants death_rate
922718  2020-09-15    SP  ...                     2215.53900     0.0258
922719  2020-09-14    SP  ...                     2197.10136     0.0260
922720  2020-09-13    SP  ...                     2196.19459     0.0260
922721  2020-09-12    SP  ...                     2195.28782     0.0260
922722  2020-09-11    SP  ...                            NaN        NaN

[5 rows x 13 columns]

In [ ]:
df.isnull().sum()

date                                  0
state                                 0
city                               6488
place_type                            0
confirmed                             0
deaths                                0
order_for_place                       0
is_last                               0
estimated_population_2019          3725
estimated_population               3725
city_ibge_code                     3725
confirmed_per_100k_inhabitants    16985
death_rate                            1
dtype: int64

In [ ]:
df.shape

(922723, 13)

In [ ]:
df.state.unique()

array(['AP', 'AC', 'DF', 'CE', 'ES', 'BA', 'MS', 'MA', 'GO', 'MT', 'PA',
       'PB', 'MG', 'AL', 'PE', 'PI', 'PR', 'RO', 'AM', 'RJ', 'RN', 'RR',
       'SE', 'SC', 'TO', 'RS', 'SP'], dtype=object)

### **Obtendo as Informações a partir dos Dados**

## **Conclusão**

## **Referências**
* **[MinisteriodaSaude]** Sobre a Doença. Ministério da Saúde. Disponível em: <https://coronavirus.saude.gov.br/sobre-a-doenca>. Acesso em: 12 nov. 2020.
* **[WikipediaCOVID-19]** Pandemia de COVID-19. Wikipedia. Disponível em: <https://pt.wikipedia.org/wiki/Pandemia_de_COVID-19>. Acesso em: 13 nov. 2020.
* **[WikipediaSARS-CoV]** SARS-CoV. Wikipedia. Disponível em: <https://pt.wikipedia.org/wiki/SARS-CoV>. Acesso em: 13 nov. 2020.
* **[Sanar]** Linha do tempo do Coronavírus no Brasil. Sanar. Disponível em: <https://www.sanarmed.com/linha-do-tempo-do-coronavirus-no-brasil>. Acesso em: 13 nov. 2020.
* **[Lemos2020]** Vinícius Lemos. Coronavírus: por que primeira pessoa infectada no Brasil pode nunca ser descoberta. BBC News Brasil. Disponível em: <https://www.bbc.com/portuguese/brasil-52334034>. Acesso em: 13 nov. 2020.
* **[SUSAnalitico]** COVID-19 no Brasil. SUSAnalítico. Ministério da Saúde. Disponível em: <https://susanalitico.saude.gov.br/extensions/covid-19_html/covid-19_html.html>. Acesso em: 13 nov. 2020.
* **[OPASBrasil]** OMS afirma que COVID-19 é agora caracterizada como pandemia. Organização Pan-Americana de Saúde (OPAS Brasil). Disponível em: <https://www.paho.org/bra/index.php?option=com_content&view=article&id=6120:oms-afirma-que-covid-19-e-agora-caracterizada-como-pandemia&Itemid=812>. Acesso em: 13 nov. 2020.
* Bootcamp Data Science Aplicada. Bootcamps Alura. Disponível em: <https://www.alura.com.br/bootcamp/data-science-aplicada/matriculas-abertas>. Acesso em: 01 nov. 2020.
* GeoJSON vs JSON. Stackshare. Digital Ocean. Disponível em: <https://stackshare.io/stackups/geojson-vs-json>. Acesso em: 14 nov. 2020.
* JSON vs GJSON. Github do EarthCube CHORDS. Disponível em: <https://github.com/earthcubeprojects-chords/chords/wiki/JSON-vs-GeoJSON>. Acesso em: 14 nov. 2020.